.commentList-enter {
    opacity: 0.01;
    background-color: black;

    position: relative;
}

.commentList-enter::before {
    content: "loading";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
}

.commentList-enter.commentList-enter-active {
    opacity: 1;
    transition: opacity 5000ms ease-in;

    background-color: white;
    transition: background-color 3000ms ease-in;
}

.commentList-leave {
    opacity: 1;
}

.commentList-leave.commentList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}